body {
    font-family: 'Montserrat', sans-serif;
    background-color: #161616;
    color: #DDD;
}

.head-space {
    height: 10vh;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 2vh 4vw 2vh 4vw;
    background-color: #111;
}

a, a:hover {
    color: #DDD;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.header-content {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.header-content.title {
    font-size: 1.2vw;
}

.header-content.navigation {
    float: right;
    list-style: none;
}

.navigation.item {
    float: left;
}

.container {
    margin: 5vw 9vw 5vw 9vw;
}

.project-section {
    height: 36vw;
}

.project-image {
    float: left;
    margin-right: 5vw;
    border: 0.16em solid rgba(0, 0, 0, 0);
    transition: all 0.1s ease-in;
}

.project-image:hover {
    border: 0.16em solid #F32;
}

.project-title {
}

.project-description {
    color: #BBB;
    width: 80vw;
    font-weight: 100;
    text-align: justify;
}

.description-link {
    color: #8AF;
}
.project-image {
    /* width: 100%; */
}

footer {
    width: 100%;
    padding: 2vh;
    text-align: center;
    background-color: #111;
}

.footer-content {
    display: inline;
    color: #DDD;
    padding: 0;
    margin: 0;
}
