body {
    font-family: 'Montserrat', sans-serif;
    background-color: #161616;
    /* background: linear-gradient(0deg, #909985, #25311C); */
    color: #DDD;
    /* background-image: url('../images/spiral.jpg'); */
}

.head-space {
    height: 10vh;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 2vh 4vw 2vh 4vw;
    background-color: #111;
}

a, a:hover {
    color: #DDD;
    text-decoration: none
}

.header-content {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.header-content.title {
    font-size: 1.2vw;
    /* float: left; */
}

.header-content.navigation {
    float: right;
    list-style: none;
}

.navigation.item {
    float: left;
}

.container {
    margin: 5vw 9vw 5vw 9vw;
}

.project-section {
    height: 36vw;
    /* width: 90vw; */
}

.project-image {
    float: left;
    margin-right: 5vw;
}

.project-description {
    width: 80vw;
    font-weight: 100;
    text-align: justify;
    /* text-justify: inter-word; */
}

.project-link {
    width: 16vw;
    color: #AAA;
}

.project-link:hover {
    color: #111;
}




.card {
    padding: 0;
    border: 0;
    background-color: rgba(127, 255, 255, 0.05);
}

.card-title {
    margin: 0;
}

.project-img {
    /* width: 100%; */
}

footer {
    width: 100%;
    padding: 2vh;
    text-align: center;
    background-color: #111;
}

.footer-content {
    display: inline;
    color: #DDD;
    padding: 0;
    margin: 0;
}
