<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alan Cecil</title>
        <link rel="shortcut icon" href="static/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <header>
            <h5 class="header-content title">&#9681;&ensp;Alan Cecil</h5>
            <ul class="header-content navigation">
                <li class="navigation item">
                    <a id="portfolio-link" class="nav-link" href="#portfolio-target">Portfolio</a>
                </li>
                <li class="navigation item">&emsp;</li>
                <li class="navigation item">
                    <a id="about-link" class="nav-link" href="#about-target">About</a>
                </li>
                <!--                 <li class="navigation item">&emsp;</li>
                <li class="navigation item">
                    <a id="contact-link" class="nav-link" href="#contact-target">Contact</a>
                </li>
            -->           </ul>
        </header>
        <br id="about-target">
        <div id="head-space"></div>
        <div id="BG"></div>
        <div id="landing-space">
            <div id="about-content">
                <h3 id="landing-statement">. . . .Data Analytics + Web Development</h3>
                <div id="about-me-section">
                    <h3>About Me</h3>
                    <p id="about-me">My background is in film and theater. I initially learned javaScript to create and drive video effects. I then became interested in the power and potential of coding. I have always excelled in creative problem solving and learning to code has been a huge expansion of possibilities for me.</p>
                </div>
            </div>
        </div>
        <br id="portfolio-target">
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <a href="https://github.com/AlanRyanCecil" class="fa fa-github" target="_blank"></a>
            <a href="https://www.linkedin.com/in/alanryancecil" class="fa fa-linkedin" target="_blank"></a>
            <a href="mailto:alan@alanryancecil.com" class="fa fa-envelope" target="_blank"></a>
            <!--             <a href="mailto:alan@alanryancecil.com">
                <p class="footer-content">alan@alanryancecil.com</p>
            </a>
        -->        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
        <script src="static/js/control.js"></script>
    </body>
</html>