{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="project-section">
        <a href="/latitude" target="_blank">
            <img src="static/images/latitude_analysis.png" class="project-image">
        </a>
        <h3 class="project-title">Latitude</h3>
        <p class="project-description">Engine bomb decay soul-delay smart-crypto-chrome dolphin denim camera paranoid.</p>
    </div>
    <div class="project-section">
        <a href="/mars" target="_blank">
            <img src="static/images/mission_to_mars.png" class="project-image">
        </a>
        <h3 class="project-title">Mission to Mars</h3>
        <p class="project-description">Engine bomb decay soul-delay smart-crypto-chrome dolphin denim camera paranoid.</p>
    </div>
    <div class="project-section">
        <a href="/health" target="_blank">
            <img src="static/images/health_demographics.png" class="project-image">
        </a>
        <h3 class="project-title">Health Demographics</h3>
        <p class="project-description">Plastic towards drone grenade car bridge faded corrupted ablative BASE jump tanto soul-delay.</p>
    </div>
    <div class="project-section">
        <a href="/aliens" target="_blank">
            <img src="static/images/alien_encounters.png" class="project-image">
        </a>
        <h3 class="project-title">Alien Encounters</h3>
        <p class="project-description">Cyber-paranoid decay dead euro-pop footage futurity market meta-long-chain hydrocarbons shrine.</p>
    </div>
    <div class="project-section">
        <a href="/tictactoe" target="_blank">
            <img src="static/images/tic_tac_toe.png" class="project-image">
        </a>
        <h3 class="project-title">Tic Tac Toe</h3>
        <p class="project-description">Monofilament free-market disposable city San Francisco paranoid lights. Table footage into man fluidity render-farm artisanal crypto-dolphin knife media towards warehouse network motion marketing cyber. Skyscraper modem range-rover vehicle numinous boy computer BASE jump network. Rain engine camera free-market systemic modem crypto-narrative faded dead katana bridge smart.</p>
    </div>
</div>
{% endblock %}