@font-face {
    font-family: IBM;
    src: url('../font/Perfect DOS VGA 437.ttf');
}

body {
    font-family: IBM;
    font-size: 2em;
    color: #79FF59;
    background-color: #050504;
    background-color: #274BFF;
}

.header {
    padding: 0.5em;
    text-align: center;
    font-size: 5em;
    margin: auto;
    border: double #79FF59 0.16em;
    background-color: #22221B;
}

.container {
    width: 82vw;
    margin: auto;
}

hr {
    border: dashed #8DFF5F 0.2em;
}

label {
    font-size: 1.2em;
}

tbody>tr:nth-child(odd) {
    background-color: #22221B;
}

th {
    font-size: 2em;
}

tr {
    font-size: 1.7em;
}

a {
    color: #79FF59 !important;
}
